<main class="login-container">

   <div class="logo-bg">
      <img src="assets/logo.png" alt="Logo Background" />
    </div>

  <div class="login-card">
    <div class="logo">
      <img src="assets/logo.png" alt="Guardians Logo" />
      <h1>GUARDIANS</h1>
    </div>

    <form (ngSubmit)="onSubmit()">
      <!-- Mensagem de erro -->
      <div *ngIf="errorMessage" class="error-message" (click)="clearError()">
        {{ errorMessage }}
      </div>

      <div class="form-group">
        <input 
          type="text" 
          placeholder="Usuário" 
          [(ngModel)]="username" 
          name="username" 
          [disabled]="isLoading"
          (input)="clearError()"
          required />
      </div>

      <div class="form-group">
        <input 
          type="password" 
          placeholder="Senha" 
          [(ngModel)]="password" 
          name="password" 
          [disabled]="isLoading"
          (input)="clearError()"
          required />
      </div>

      <button 
        type="submit" 
        class="btn-login"
        [disabled]="isLoading">
        <span *ngIf="!isLoading">ENTRAR</span>
        <span *ngIf="isLoading">ENTRANDO...</span>
      </button>

      <a href="#" class="forgot">Esqueci minha senha</a>
      <p class="register">
        Ainda não tem cadastro? <a href="#">Criar conta</a>
      </p>
    </form>
  </div>
</main>

